{
"btcd" : [
	{
		"url" : "localhost:8332",
		"auth" : "user",
		"pass" : "pass",
		"notify" : true
	}
],
"proxy" : [
	{
		"url" : "ckpool.org:3333",
		"auth" : "user",
		"pass" : "pass"
	}
],
"logdir" : "logs"
}
